/**
 * Created by hangeonho on 2018. 8. 2..
 */
@import "variables";

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

main#container {
  background-color: rgb(238, 238, 238);

  @media print {
    padding: $print-padding;
    width: $print-width;
    height: $print-height;
  }

  @media screen {
    padding: $screen-padding;
    width: $screen-width;
    height: $screen-height;

    @include box-shadow(0 0 100px 10px #aaa);
  }
}
