/**
 * Created by hangeonho on 2018. 8. 3..
 */
@import "variables";

$header-absolute-margin-bottom: 5.5;
$header-relative-margin-bottom-in-resume: $header-absolute-margin-bottom / $basic-height;

$header-profile-image-absolute-size: 37.8;
$header-profile-image-relative-size-in-resume: $header-profile-image-absolute-size / $basic-height;
$header-figcaption-absolute-padding-left: 11.32;
$header-figcaption-relative-padding-left-in-header: $header-figcaption-absolute-padding-left / $width;
$header-figcaption-absolute-width: $width - $header-profile-image-absolute-size - $header-figcaption-absolute-padding-left;
$header-figcaption-absolute-width-with-padding: $header-figcaption-absolute-width + $header-figcaption-absolute-padding-left;
$header-figcaption-relative-width-in-header: $header-figcaption-absolute-width / $width;

$header-h1-font-size: 11.98;

$header-h2-font-size: 6.09;
$header-h2-absolute-margin-left: 4.6;
$header-h2-relative-margin-left-in-figcaption: $header-h2-absolute-margin-left / ($header-figcaption-absolute-width-with-padding);

$header-p-font-size: 6.08;

$header-p-quotation-mark-size: 3.07;

header {
  height: percentage($header-profile-image-relative-size-in-resume);
  margin-bottom: percentage($header-relative-margin-bottom-in-resume);

  figure {
    margin: 0;
    height: 100%;

    img#profile-image {
      display: inline-block;
      vertical-align: top;

      width: auto;
      height: 100%;
    }

    figcaption {
      display: inline-block;

      width: percentage($header-figcaption-relative-width-in-header + 0.01);
      height: 100%;
      padding-left: percentage($header-figcaption-relative-padding-left-in-header);

      h1, h2, p {
        display: inline-block;
        margin: 0;
      }

      header {
        display: inline-block;
        width: 100%;
        height: 33%;
        white-space: nowrap;

        h1 {
          color: #333333;
          font-family: 'hevitas', sans-serif;

          @media print {
            font-size: $print-font-size * $header-h1-font-size;
          }

          @media screen {
            font-size: $screen-font-size * $header-h1-font-size;
          }
        }

        h2 {
          color: #333333;
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
          margin-left: percentage($header-h2-relative-margin-left-in-figcaption);

          @media print {
            font-size: $print-font-size * $header-h2-font-size;
          }

          @media screen {
            font-size: $screen-font-size * $header-h2-font-size;
          }
        }
      }

      p {
        width: 100%;
        height: 66%;
        color: #66657d;
        font-style: italic;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;

        @media print {
          font-size: $print-font-size * $header-p-font-size;
        }

        @media screen {
          font-size: $screen-font-size * $header-p-font-size;
        }

        span {
          display: block;

          img {
            @media print {
              width: $print-font-size * $header-p-quotation-mark-size;
              height: $print-font-size * $header-p-quotation-mark-size;
            }

            @media screen {
              width: $screen-font-size * $header-p-quotation-mark-size;
              height: $screen-font-size * $header-p-quotation-mark-size;
            }
          }

          &:first-child {
            text-align: left;

            img {
              vertical-align: top;
            }
          }

          &:last-child {
            text-align: right;

            img {
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}