/**
 * Created by hangeonho on 2018. 8. 2..
 */
@import "fonts";
@import "variables";

html, body {
  width: 100%;
  height: 100%;

  margin: 0;

  @media print {
    font-size: $print-font-size;
  }

  @media screen {
    font-size: $screen-font-size;
  }
}

body {
  // align
  display: flex;
  align-items: center;
  justify-content: center;

  hr#header_section_divider {
    color: #66657d;
    border-style: solid;

    @media print {
      border-width: $print-font-size * $divider-size;
    }

    @media screen {
      border-width: $screen-font-size * $divider-size;
    }
  }
}

@import "container";
@import "header";
@import "section";
@import "article";
