/**
 * Created by hangeonho on 2018. 8. 2..
 */
@import "variables";

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

main#resume_container {
  background-color: rgb(238, 238, 238);

  @media print {
    padding: $print-padding-vertical $print-padding-horizontal
      $print-padding-vertical $print-padding-horizontal;
    width: $print-resume-width;
    height: $print-resume-height;
  }

  @media screen {
    padding: $screen-padding-vertical $screen-padding-horizontal
      $screen-padding-vertical $screen-padding-horizontal;
    width: $screen-resume-width;
    height: $screen-resume-height;

    @include box-shadow(0 0 100px 10px #aaa);
  }
}
