@import './variable';
@import './mixin';
@import './fonts';

@media only print {

}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;

  @for $i from 1 through $repeat-time {
    @include respond-to($i) {
      top: $i * 5px;
      right: $i * 5px;

      font-size: $i * 10px;
    }
  }

  a {
    color: #333;
    font-weight: 100;
    text-decoration: none;
  }
}

div, h1 {
  margin: 0;
}

.resume {
  @include box-shadow(0 0 100px 10px #aaa);

  display: flex;
  flex-wrap: wrap;

  @for $i from 1 through $repeat-time {
    @include respond-to($i) {
      width: $basic-resume-width * $i;
      height: $basic-resume-height * $i;
    }
  }

  header {
    height: $header-height;
    width: 100%;

    background-color: rgb(30, 30, 30);
    color: #ddd;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    main {
      background-color: rgb(30, 30, 30);

      height: fit-content;
      width: fit-content;

      h1 {
        font-weight: 900;

        @for $i from 1 through $repeat-time {
          @include respond-to($i) {
            font-size: $basic-header-font-size * $i;
          }
        }

        .logo {
          @for $i from 1 through $repeat-time {
            @include respond-to($i) {
              height: $basic-header-font-size * $i;
            }
          }

          img {
            height: inherit;
          }
        }
      }
    }

    footer {
      position: absolute;

      font-weight: 300;

      @for $i from 1 through $repeat-time {
        @include respond-to($i) {
          right: $basic-header-footer-font-size * $i;
          bottom: $basic-header-footer-font-size * $i;

          font-size: $basic-header-footer-font-size * $i;
        }
      }
    }
  }

  aside, main {
    height: $main-height;
  }

  aside {
    width: $side-width;

    background-color: rgb(80, 80, 80);
  }

  main {
    width: $main-width;

    background-color: white;
  }
}