@import './variable';
@import './mixin';

@media only print {

}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;

  @for $i from 1 through $repeat-time {
    @include respond-to($i) {
      top: $i * 5px;
      right: $i * 5px;
    }
  }
}

.resume {
  @include box-shadow(0 0 100px 10px #aaa);

  display: flex;
  flex-wrap: wrap;

  @for $i from 1 through $repeat-time {
    @include respond-to($i) {
      width: $basic-resume-width * $i;
      height: $basic-resume-height * $i;
    }
  }

  header {
    height: $header-height;
    width: 100%;

    background-color: rgb(30, 30, 30);
  }

  aside, main {
    height: $main-height;
  }

  aside {
    width: $side-width;

    background-color: rgb(80, 80, 80);
  }

  main {
    width: $main-width;

    background-color: white;
  }
}