// resume size related to A4 size
$basic-resume-width: 210px;
$basic-resume-height: 297px;

// rotation length for media query
$repeat-time: 5;

// height for header and main content
$header-height: 25%;
$main-height: 100% - $header-height;

// width for side and main content
$main-width: 70%;
$side-width: 100% - $main-width;

// font-size for basic A4 size
$basic-font-size: 5px;
$basic-header-font-size: $basic-font-size * 4;
$basic-header-footer-font-size: $basic-font-size;
$basic-main-font-size: $basic-font-size;
$basic-main-header-font-size: $basic-main-font-size * 2;